.btn-logout {
    display: flex !important;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px !important;
    gap: 4px;
    border-radius: 16px !important;
    flex: none;
    order: 0;
    flex-grow: 0;
}